<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAXFinder - Toutes les villes</title>
  <style>
    *, *:before, *:after {
      box-sizing: border-box;
    }

    body {
      font-family: "Helvetica", sans-serif;
      margin: 0;
      background-color: #000;
      color: #fff;
    }

    .pages a, .pages span {
      margin: 0 10px;
    }

    a {
      color: #fff;
    }

    h1 {
      text-align: center;
      margin: 40px 0;
    }

    table {
      /* width: 100%; */
      margin: 30px auto 0;
      border: none;
      border-collapse: collapse;
    }

    .mono {
      font-family: monospace;
    }

    .w {
      /* width: 100%; */
    }

    th {
      background: #000 !important;
      text-transform: uppercase;
      position: sticky;
      top: 0;
    }

    tr {
      width: 100%;
    }
    tr:nth-of-type(2n+1) {
      background: #111;
    }
    tr:nth-of-type(2n) {
      background: #222;
    }

    td, th {
      text-align: center;
      padding: 16px 20px;
      border: none;
    }
  </style>
</head>
<body>
  <h1>Toutes les villes</h1>
  <table>
    <!-- <tr>
      <th>Nom</th>
      <th>Trajets depuis</th>
      <th>Trajets vers</th>
    </tr> -->
    <% for (place of places) { %>
      <tr>
        <%
          const date = new Date()
          date.setDate(date.getDate() + 6 - date.getDay())
        %>
        <td><a href="./from/<%= place.city_id %>/<%= date.getFullYear() %>/<%= date.getMonth() + 1 %>/<%= date.getDate() %>">Partir de <%= place.city %></a></td>
        <td><a href="./to/<%= place.city_id %>/<%= date.getFullYear() %>/<%= date.getMonth() + 1 %>/<%= date.getDate() %>">Aller à <%= place.city %></a></td>
      </tr>
    <% } %>
  </table>
</body>
</html>