<h1><%= title %></h1>

<table>
  <!-- <tr>
    <th>Nom</th>
    <th>Trajets depuis</th>
    <th>Trajets vers</th>
  </tr> -->
  <% for (place of places) { %>
    <tr>
      <%
        const date = new Date()
        date.setDate(date.getDate() + 6 - date.getDay())
      %>
      <td><a href="./from/<%= place.city_id %>/<%= date.getFullYear() %>/<%= date.getMonth() + 1 %>/<%= date.getDate() %>">Partir de <%= place.city %></a></td>
      <td><a href="./to/<%= place.city_id %>/<%= date.getFullYear() %>/<%= date.getMonth() + 1 %>/<%= date.getDate() %>">Aller à <%= place.city %></a></td>
    </tr>
  <% } %>
</table>
