<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MAXFinder - Trains vers <%= trains[0].to.name %> le <%= (new Date(date)).toLocaleDateString('fr-FR') %></title>
  <style>
    *, *:before, *:after {
      box-sizing: border-box;
    }

    body {
      font-family: "Helvetica", sans-serif;
      margin: 0;
      background-color: #000;
      color: #fff;
    }

    .pages a, .pages span {
      margin: 0 10px;
    }

    a {
      color: #fff;
    }

    h1 {
      text-align: center;
      margin: 40px 0;
    }

    table {
      /* width: 100%; */
      margin: 30px auto 0;
      border: none;
      border-collapse: collapse;
    }

    .mono {
      font-family: monospace;
    }

    .w {
      /* width: 100%; */
    }

    small {
      opacity: .7;
    }

    th {
      background: #000 !important;
      text-transform: uppercase;
      position: sticky;
      top: 0;
    }

    tr {
      width: 100%;
    }
    tr:nth-of-type(2n+1) {
      background: #111;
    }
    tr:nth-of-type(2n) {
      background: #222;
    }

    td, th {
      text-align: center;
      padding: 16px 8px;
      border: none;
    }

    @media screen and (min-width: 580px) {
      td, th {
        padding: 16px 20px;
      }
    }
  </style>
</head>
<body>
  <h1>Trains vers <%= trains[0].to.name %> le <%= (new Date(date)).toLocaleDateString('fr-FR') %></h1>
  <table>
    <tr>
      <th>train</th>
      <th class="w">from</th>
      <th>departure</th>
      <th>arrival</th>
      <th>duration</th>
    </tr>
    <% for (train of trains) { %>
      <tr>
        <td class="mono"><%= train.train_no %></td>
        <td class="w"><%= train.from.name %></td>
        <td><%= train.departure.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></td>
        <td><%= train.arrival.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></td>
        <%
          var hours = Math.floor((train.arrival - train.departure) / 3.6e6)
          var minutes = Math.floor(((train.arrival - train.departure) % 3.6e6) / 6e4)
        %>
        <td><small><%= new Date(2022, 1, 10, hours, minutes).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) %></small></td>
      </tr>
    <% } %>
    <tr>
      <th colspan="5" class="pages">
        <% for (var i = 0; i < lastPage + 1; i++) { %>
          <% if (i === page) { %>
            <span><%= i + 1 %></span>
          <% } else { %>
            <a href="<%= `?p=${i}` %>"><%= i + 1 %></a>
          <% } %>
        <% } %>
      </td>
    </tr>
  </table>
</body>
</html>